<div>
  <h2>Hassnain Ali!</h2>
  <p>Replace first Hassnain Ali quote with a quote written by Hub Ali</p>
  <button id="update-button">Replace Hassnain  quote</button>
  <script src="/main.js"></script>
</div>